
<!-- <html>
    <head>
        <title>Flask Template</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <h1>Hello {{user}}, I've noticed the students of this class have gotten wrong answers a couple of times when I have asked about different state capitals,
            today you will have a quiz </h1>
        <form>
            <input type="text" name="answer" placeholder="Enter your name"/>
            <input type="submit" value="Submit"/>
        </form>
    </body>
</html> -->
{% extends "base.html" %}

{% block title %}Welcome to the Geography Quiz!{% endblock %}

{% block body %}
<h1>I've noticed the students of this class have gotten wrong answers a couple of times when I have asked about different state capitals,
    today you will have a quiz </h1>
<h2>Quick Quiz</h2>
<h2>Your Performance History</h2>
    {% for capital in state_names %}
    <p>What's the capital of {{capital}}?</p>
    <form method="POST" action="/scorepage">
        <input type="text" name="capital" placeholder="Answer here"/>
        <input type="submit" value="Submit"/>
    </form>
    {% endfor %}

{% endblock %}
